@tailwind base;
@tailwind components;
@tailwind utilities;

div#__nuxt {
  min-height: 100%;
}

.router-link-active {
  @apply bg-gray-900 text-white;
}

h1 {
  @apply text-3xl;
}

p {
  @apply mt-5;
}

a {
  color: #47c691;
}
a:hover {
  text-decoration: underline;
}

.page-enter-active {
  transition: all 0.1s ease-out;
}
.page-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.4, 1);
}
.page-enter-from,
.page-leave-to {
  transform: translateY(40px);
  opacity: 0;
}
