@tailwind base;
@tailwind components;
@tailwind utilities;

div#__nuxt {
  min-height: 100%;
}

.router-link-active {
  @apply bg-gray-900 text-white;
}

h1 {
  @apply text-3xl;
}

p {
  @apply mt-5;
}

a {
  color: #47c691;
}
a:hover {
  text-decoration: underline;
}